:root {
  --utama: #7bb661;
  --bg: #0f0e17;
  --teks: #a7a9be;
  --byngn: #000000;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  cursor: none;
}
h2{
  transition: 0.3s;
}

h2:hover{
  transform: scale(1.1);
}

img {
  transition: 0.5s;
}
img:hover {
  box-shadow: var(--byngn) 3px 5px 20px;
  transform: scale(1.1);
}
html {
  scroll-behavior: smooth;
}
a{
  color: var(--teks);
  transition: 0.2s;
}
a:hover{
  color: var(--utama);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  overflow-x: hidden;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #7bb661;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--utama);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--utama);
  transform: scale(1.1);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--utama);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--utama);
}

#menu {
  display: none;
}

.navbar .search-form{
  position: absolute;
  border-radius: 5px;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 20rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform-origin: top;
  transform: scale(0);
  transition: 0.5s;
}
.navbar .search-form.active{
  transform: scale(1);
}
.navbar .search-form input{
  border-radius: 5px;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}
.navbar .search-form label{
  cursor: pointer;
  font-size: 1.6rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* bg Section */

.bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(15, 14, 23, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.bg .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.bg .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.bg .content h1 span {
  color: var(--utama);
}

.bg .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  font-weight: 100;
}

.bg .content .btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--utama);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.bg .content .btn:hover{
  transform: scale(1.1) translateY(2px);
}

/* About Section */
.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}
.about h2{
  transition: 0.3s;
}
.about h2:hover{
  transform: scale(0.9);
}
.about a p{
  transition: 0.3s;
}
.about a p:hover{
  transform: scale(0.9);
}
.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--utama);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  margin: 2rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 7rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: left;
}
.menu .row .menu-card .menu-card-title{
  transition: 0.3s;
}
.menu .row .menu-card .menu-card-title:hover{
  text-shadow: var(--byngn) 2px 2px 10px;
  transform: scale(1.2);
}

.bxl-spotify, .bxl-instagram, .bxl-youtube, .bxl-google, .bxl-tiktok, .bxl-twitter {
  font-size: 3rem;
  margin: 0.5rem;
}
.bx{
  transition: 0.3s;
}

.bxl-twitter:hover{
  color: skyblue;
}

.bx:hover {
  transform: scale(1.2);
}

.bxl-tiktok {
  color: #fff;
}

.bxl-tiktok:hover {
  text-shadow: 4px 2px 1px rgba(255, 0, 0, 0.5);
  color: rgba(135, 206, 235, 0.8);
}

.bxl-spotify {
  color: lightgreen;
}

.bxl-spotify:hover {
  color: rgba(29, 232, 29, 0.5);
}

.bxl-instagram {
  color: rgb(230, 25, 114);
}

.bxl-instagram:hover{
  color: rgb(241, 202, 219);
}

.bxl-youtube {
  color: red;
}

.bxl-youtube:hover {
  color: rgba(255, 0, 0, 0.5);
}

.bxl-google {
  color: #fff;
}

.bxl-google {
  color: #fff;
}

.bxl-google:hover {
  text-shadow: 3px 1px 1px rgba(255, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}

/* Menu Section */

.hbd .row .hbd-card .hbd-card-title{
  transition: 0.3s;
}
.hbd .row .hbd-card .hbd-card-title:hover{
  text-shadow: var(--byngn) 2px 2px 10px;
  transform: scale(1.2);
}

.hbd p,
p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
.hbd h2:hover{
  transform: scale(0.9);
}
.hbd .row {
  flex-wrap: wrap;
  display: flex;
  padding :5rem;
  margin-top: 5rem;
  justify-content: center;
}

.hbd .row .hbd-card {
  text-align: center;
  padding-bottom: 4rem;
}

.hbd .row .hbd-card img {
  margin: 90px;
  border-radius: 50%;
  width: 200px;
}

.hbd .row .hbd-card .hbd-card-title {
  margin: 0.1rem;
}

/* HBD */

.homeroom .row .homeroom-card .homeroom-card-title{
  transition: 0.3s;
}
.homeroom .row .homeroom-card .homeroom-card-title:hover{
  text-shadow: var(--byngn) 2px 2px 10px;
  transform: scale(1.2);
}

.homeroom p,
p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
.homeroom h2:hover{
  transform: scale(0.9);
}
.homeroom .row {
  flex-wrap: wrap;
  display: flex;
  padding :5rem;
  margin-top: 5rem;
  justify-content: center;
}

.homeroom .row .homeroom-card {
  text-align: center;
  padding-bottom: 4rem;
}

.homeroom .row .homeroom-card img {
  margin: 90px;
  border-radius: 50%;
  width: 200px;
}

.homeroom .row .homeroom-card .homeroom-card-title {
  margin: 0.1rem;
}


/* Headmaster end */

.headmaster .row .headmaster-card .headmaster-card-title{
  transition: 0.3s;
}
.headmaster .row .headmaster-card .headmaster-card-title:hover{
  text-shadow: var(--byngn) 2px 2px 10px;
  transform: scale(1.2);
}

.headmaster p,
p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
.headmaster h2:hover{
  transform: scale(0.9);
}
.headmaster .row {
  flex-wrap: wrap;
  display: flex;
  padding :5rem;
  margin-top: 5rem;
  justify-content: center;
}

.headmaster .row .headmaster-card {
  text-align: center;
  padding-bottom: 4rem;
}

.headmaster .row .headmaster-card img {
  margin: 90px;
  border-radius: 50%;
  width: 200px;
}

.headmaster .row .headmaster-card .headmaster-card-title {
  margin: 0.1rem;
}

/* Homeroom end */

.hoc .row .hoc-card .hoc-card-title{
  transition: 0.3s;
}
.hoc .row .hoc-card .hoc-card-title:hover{
  text-shadow: var(--byngn) 2px 2px 10px;
  transform: scale(1.2);
}

.hoc p,
p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
.hoc h2:hover{
  transform: scale(0.9);
}
.hoc .row {
  flex-wrap: wrap;
  display: flex;
  padding :5rem;
  margin-top: 5rem;
  justify-content: center;
}

.hoc .row .hoc-card {
  text-align: center;
  padding-bottom: 4rem;
}

.hoc .row .hoc-card img {
  margin: 90px;
  border-radius: 50%;
  width: 200px;
}

.hoc .row .hoc-card .hoc-card-title {
  margin: 0.1rem;
}

/* Hoc end */



.student h2, .student video {
  margin-top: 5rem;
  transition: 0.3s;
}
.student p,
p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
.student h2:hover{
  transform: scale(0.9);
}
.student .row {
  flex-wrap: wrap;
  display: flex;
  padding :5rem;
  margin-top: 5rem;
  justify-content: center;
}

.student .row .student-card {
  text-align: center;
  padding-bottom: 4rem;
}

.student .row .student-card img {
  margin: 90px;
  border-radius: 50%;
  width: 200px;
}

.student .row .student-card .student-card-title {
  margin: 0.1rem;
}

/* Creation */

.creation,
.menu{
  padding: 8rem 7% 1.4rem;
}
.creation h2{
  transition: 0.3s;
}
.creation h2:hover{
  transform: scale(0.9);
}
.creation a p{
  transition: 0.3s;
}
.creation a p:hover{
  transform: scale(0.9);
}
.creation h2,
.menu h2,
h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.creation h2 span,
.menu h2 span,
h2 span {
  color: var(--utama);
}

.creation .row {
  display: flex;
}

.creation .row .creation-img {
  flex: 1 1 45rem;
}

.creation .row .creation-img img {
  width: 100%;
  margin: 2rem;
}

.creation .row .content {
  flex: 1 1 35rem;
  padding: 0 7rem;
}

.creation .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.creation .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Footer */

footer {
  background-color: var(--utama);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
  transition: 0.2s'
}
footer .socials a i{
  font-size: 1.8rem;
  transition: 0.2s;
}
footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
  
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}
@media (max-width: 1366px) {
  html {
    font-size: 75%;
    overflow-x: hidden;
  }
}
@media (max-width: 1013px) {
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  .circle{
    display: none;
  }
  
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 25rem;
    justify-content: center;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
    text-align: left;
    
  }

  .menu p {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
    overflow-x: hidden;
  }
  .circle {
    display: none;
  }
  
}

.circle{
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}
